
body {
    font-family: "JetBrains Mono", 'Courier New', Courier, monospace;
}

.fade-in{
    opacity: 0;
    filter: blur(0.5rem);
    transition: 0.75s;
}

.main-content{
  margin: 5% 15%;
}

p {
  font-size: 1.15rem;
}

h2{
  font-size: 1.75rem;
}
